body{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#spaceship {
    position: absolute;
    height: 60px;
    width: 60px;
}

.verticalgate {
    position: absolute;
    height: 125px;
    width: 10px;
    background: yellow;
}

.horizontalgate {
    position: absolute;
    height: 10px;
    width: 125px;
    background: yellow;
}

.gamebox {
    position: absolute;
    margin: auto;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    border: 20px solid black;
}

